name: Deploy app to Fly.io
on:
  workflow_run:
    workflows: ["Version Updater"]
    types: [completed]
    branches: [main]
  pull_request:
    branches-ignore:
      - renovate/hex-packages

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  # only deploy when the Elixir Validations workflow is successful
  on-success:
    name: Deploy app
    runs-on: ubuntu-24.04
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    steps:
      - uses: actions/checkout@v5
        # fetch-depth: 0 is needed to get the full history of the repository
        with:
          fetch-depth: 0
      - uses: superfly/flyctl-actions/setup-flyctl@master
      - run: flyctl deploy -y -t "$FLY_API_TOKEN"
        env:
          FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
      - name: Create Honeybadger release
        uses: honeybadger-io/github-notify-deploy-action@v1
        with:
          api_key: ${{ secrets.HONEYBADGER_API_KEY }}
      - name: Create Sentry release
        uses: getsentry/action-release@v1
        env:
          SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
          SENTRY_ORG: ${{ secrets.SENTRY_ORG }}
          SENTRY_PROJECT: ${{ secrets.SENTRY_PROJECT }}
        with:
          environment: prod
          ignore_missing: true

  on-failure:
    runs-on: ubuntu-24.04
    if: ${{ github.event.workflow_run.conclusion != 'success' }}
    steps:
      - run: echo "Previous workflow failed"
      - run: exit 1
